.homePage {
    font-family: Arial, sans-serif;
    padding: 20px;
    padding-top: 80px; /* Adjust this value to match the height of the header */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.loginButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.posts {
    margin-top: 20px;
}