.comments {
    margin-top: 20px;
}

.comments h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.avatar {
    width: 40px; /* Smaller size for comment avatars */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.userName {
    font-size: 16px;
    color: #333;
}

.commentContent {
    font-size: 16px;
    color: #666;
}

.addComment {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.commentInput {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}
.commentActions {
    display: flex;
    gap: 5px;
    align-items: center;
}


.submitButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.submitButton:hover {
    background-color: #0056b3;
}

.submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.commentContentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}
.commentContentArea {
    flex: 1;
}

.editIcon {
    
    color: #007bff;
    cursor: pointer;
    font-size: 1.2rem;
}

.editIcon:hover {
    color: #0056b3;
}
.deleteIcon {
    cursor: pointer;
    margin-left: 10px;
}

.editInput {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.saveButton,
.cancelButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.saveButton:hover {
    background-color: #0056b3;
}

.cancelButton {
    background-color: #dc3545;
}

.cancelButton:hover {
    background-color: #c82333;
}


