.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the header is above other content */
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.homeButton {
    margin-right: 20px;
    font-size: 1.5rem;
}

.newPostButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.newPostButton:hover {
    background-color: #0056b3;
}

.userLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.userName {
    margin-right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logoutButton, .loginButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logoutButton:hover, .loginButton:hover {
    background-color: #0056b3;
}